@font-face {
    font-family: 'Inter-Light';
    src: url('fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('fonts/Inter-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'Inter-Semi-Bold';
    src: url('fonts/Inter-SemiBold.ttf') format('truetype');
}


@font-face {
    font-family: 'Inter-Regular';
    src: url('fonts/Inter-Regular.ttf') format('truetype');
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

p{
    font-size: 16px;
    font-family: Inter-Regular;
}


.titularletra16{
    font-family: Inter-Medium;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.titularletra16centrado{
    font-family: Inter-Medium;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.container .image-container .precio {
    font-size: 12px;
    font-family: Inter-Medium; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    width: 100%;
    height: 40px; 
    margin: 0;
    padding: 0;
    font-family: Inter-Medium;
}

.logo img {
    height: 35px;
    width: 60px;
    margin: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 0;
    padding-right: 5px;
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a:hover {
    color: #22ACA4;
}

.slider {
    position: relative;
    width: 100vw;
    height: 200px;  
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite linear 5s;
    width: 300%;
    padding: 0;
    margin: 0;
}

.slider li {
    position: relative;
    width: 100vw;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 220px;
    object-fit: fill; 
}

.button-overlay {
    display: block;
    position: absolute;
    background-color: #22ACA4;
    padding: 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
    transition: box-shadow 0.3s ease;
    color: white;
    bottom: 30px;
    left: 80%;
    transform: translateX(-50%);
    font-family: Inter-Medium;
}

.button-overlay:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@keyframes cambio {
    0%, 100% {
        margin-left: 0;
    }

    25%, 50% {
        margin-left: -100vw;
    }

    75% {
        margin-left: -200vw;
    }
}



.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.container img {
    margin-right: 30px;
    margin-left: 30px;
    width: 114px; 
    height: 156px; 
    border-radius: 40px;
    transition: box-shadow 0.3s ease; 
}

.topventas{
    font-family: Inter-Medium;
}

.image-container p {
    font-size: 11px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.image-container p span {
    color: #22ACA4 
}

.image-container img {
    transition: box-shadow 0.3s ease; 
}

.image-container img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}

.perder{
    width: 100%;
}

.perder img{
    width: 100%;
    height: 220px;
}

.noticia1 {
    text-align: left;
    width: 100%; 
    margin: 0 auto; 
}

.por{
    text-align: center;
}

.collab{
    text-align: center;
}

p.collab span {
    color: #22ACA4;
}

.empleadomes{
    width: 100%;
}

.empleadomes img {
    width: 120px;
    height: 100px;
    margin-left: 36%;
    border-radius: 100px;
}

.empleadomes .textoempleado {
    text-align: center;
}

.formulario-container {
    text-align: center;
}

.formulario {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Inter-Medium;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.sorteo{
    margin-top: 0;
}

.formulario input {
    border-radius: 15px;
}

.formulario button {
    border-radius: 15px;
}

button {
    background-color: #22ACA4;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

h2{
    font-family: Inter-Medium;
}

button:hover {
    background-color: #187B79;
}

.pie-pagina {
    width: 100%;
    background-color: #22ACA4;
    padding-top: 10px; 
}

.pie-pagina img {
    width: 180px;
    height: 120px;
    margin-left: 100px;
}

.pie-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    padding: 10px 0; 
   
}

.pie-pagina .grupo-1 .box figure {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2 {
    color: #000;
    margin-bottom: 10px; 
    font-size: 16px; 
    font-size: Inter-Medium;
}

.pie-pagina .grupo-1 .box p {
    color: #000;
    margin-bottom: 5px; 
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-right: 5px; 
    background-color: #333;
    border-radius: 15px;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: Inter-Medium;
    font-size: 10px; 
}

.grupo-2 .final {
   font-family: Inter-Medium;
   font-size: 10px;
}

.box a img {
    margin: 2px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media only screen and (min-width: 750px) {
   
    header {
        height: 60px; 
        margin-bottom: 0px;
        
    }

    .titularletra16{
        font-size: 30px;
    }

   
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-bottom: 0px;
       
    }
    
    .logo img {
        height: 55px;
        width: 95px;
        margin-left: 15px;
        
    }
    
    .slider {
        width: 100%;
        height: 900px; 
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slider li {
        width: 100%;
        height: 900px;
        list-style: none;
    }

    .slider img {
        width: 100%; 
        height: 900px;
        object-fit: fill; 
    }

    .button-overlay {
        font-size: 50px;
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
        white-space: nowrap;
        transition: box-shadow 0.3s ease;
        color: white;
        bottom: 50px;
        left: 85%;
        transform: translateX(-50%);
    }
    
    .container .image-container .precio {
        font-size: 20px;
    }

    .container img{
        margin-right: 10px;
        width: 280px;
        height: 400px;
        margin: 20px;
    }

    p{
        font-size: 30px;
        margin: 10px;
    }

    .image-container p {
        font-size: 20px;
    }

    .perder img{
        width: 49.5%;
        height: 500px;
    }

    .noticia1 .texto1{
       font-size: 20px;
       text-align: left;
       margin: 10px;
    }
   
    .empleadomes img {
        width: 200px;
        height: 180px;
        margin-left: 45%;
        border-radius: 50px;
    }

    .empleadomes .textoempleado {
        margin-left: 25%;
        margin-right: 25%;
        font-size: 20px;
    }

    .sorteo{
        font-size: 20px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .formulario {
        width: 400px;
    }

    .grupo-2{
        margin-bottom: 0;
    }

    .collab{
        margin-bottom: 20px;
    }

    .por{
        margin-bottom: 20px;
    }

}